version: '3.9'

services:
  web:
    build: .
    command: python src/library/manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DJANGO_SETTINGS_MODULE=library.settings.dev
      - DEBUG=True
    depends_on:
      - db

  db:
    image: postgres:16-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=library
      - POSTGRES_USER=library
      - POSTGRES_PASSWORD=librarypass
    ports:
      - "5432:5432"

volumes:
  postgres_data: